# Docker
Dockerfile
.dockerignore

# Compiled output
node_modules
.next

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Markdown
*.md

# Git
.git
.gitignore