.backToTop {
  grid-area: backToTop;
  background-color: var(--mantine-color-secondary-3);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  @mixin hover {
    background-color: var(--mantine-color-secondary-4);
  }
}
