.input {
  border: 2px solid var(--mantine-color-gray-2);
  border-top-left-radius: var(--mantine-radius-default);
  border-bottom-left-radius: var(--mantine-radius-default);
  background: var(--mantine-color-gray-2);
  padding-left: var(--mantine-spacing-xs);
}

.inputFocused {
  border: 2px solid var(--mantine-primary-color-0);
  border-top-left-radius: var(--mantine-radius-default);
  border-bottom-left-radius: var(--mantine-radius-default);
  background: var(--mantine-color-gray-2);
  padding-left: var(--mantine-spacing-xs);
}

.inputBoxFocused {
  border: 2px solid var(--mantine-color-gray-2);
  background: var(--mantine-color-gray-2);
  padding-left: var(--mantine-spacing-xs);
}
