* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  background-color: rgb(227, 230, 230);
  @media (min-width: $mantine-breakpoint-xl) {
    align-content: center;
    max-width: rem(1500px);
    margin: 0 auto;
  }
}
