.wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  margin-bottom: 50px;

  width: rem(315px);
  height: 100%;
  overflow: hidden;
  padding: var(--mantine-spacing-sm);

  @media (max-width: $mantine-breakpoint-sm) {
    width: rem(135px);
    height: rem(180px);
  }
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: rem(135px);
  height: rem(120px);
}

.footer {
  grid-area: footer;
}
